:root {
	--bg-dark: #0d0d0d;
	--neon-pink: #ff16d1;
	--neon-blue: #00e5ff;
	--card-bg: rgba(33, 0, 24, 0.336);
	--transition: 0.5s ease;
  }

  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  @font-face {
	font-family: "Neon";
	src: url("../Neon.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
  }

  body {
	background-color: var(--bg-dark);
	background-image: url(../img/g1.png);
	background-position: center;
	
	color: #fff;
	font-family: "Segoe UI", sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: none;
  }
